<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
    <p class="card-text">{{ article.content }}</p>
    <p class="card-text">дата изменения: {{ article.updated_at }}</p>
    <a href="/" class="card-link">На главную</a>
</div>

</body>
</html>